html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: ivory;
}

h1 {
  text-align: center;
  color: coral;
  font-size: 50px;
  text-decoration: overline;
}

figcaption {
  text-align: center;
}

p {
  font-size: 1.2ems;
  text-decoration: none;
  text-align: center;
}

#tripOne {
  margin: auto;
  width: 50%;
  border: 3px solid darkseagreen;
  padding: 35px;
  text-align: center;
}

#tripTwo {
  margin: auto;
  width: 50%;
  border: 3px solid coral;
  padding: 35px;
  text-align: center;
}

#tripThree {
  margin: auto;
  width: 50%;
  border: 3px solid darkseagreen;
  padding: 35px;
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid black;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: coral; 
  color: white;
}

#returnTo {
  text-align: center;
  padding: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:hover {
  background-color: darkseagreen;
}

a:active {
  background-color: coral;